HOST=http://localhost
PORT=8080

DBUser=admin
DBPass=admin
DBSSL=disable
DBName=postgres
DBHost=localhost
DBPort=5432

CLERK_JWKS_URL=https://clerk.YOUR_INSTANCE.clerk.accounts.dev/.well-known/jwks.json
APP_ENV=development