HOST=http://localhost
PORT=8080

DBUser=admin
DBPass=admin
DBSSL=disable
DBName=postgres
DBHost=localhost
DBPort=5432

CLERK_JWKS_URL=https://clerk.YOUR_INSTANCE.clerk.accounts.dev/.well-known/jwks.json
CLERK_WEBHOOK_SECRET=whsec_abcdefghijklmnopqrstuvwxyz

PADDLE_API_KEY=pdl_sdbx_apikey_abcd
PADDLE_BASE_URL=https://sandbox-vendors.paddle.com # https://api.paddle.com for production
PADDLE_WEBHOOK_SECRET=pdl_abcd_abcd
PADDLE_STARTER_PLAN_ID=pro_01jxsajk7xj3q08agx72evgfey
PADDLE_PRO_PLAN_ID=pro_01jxs1w0n3tax383gmf3ahb118
PADDLE_BUSINESS_PLAN_ID=pro_01jxs20dwtgtc0ywy6erm4gjxj

GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL_CODE=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL_CODE=text-embedding-004

SAMPLE_REDDIT_VALIDATION_ID=c52af4c0-28f5-45ad-bfa2-eba8e437b3ba

STARTER_PLAN_IDEA_CREATION_DAYS=3

APP_ENV=development

RATE_LIMITER_RATE=20
RATE_LIMITER_BURST=40


DISCORD_CONTENT_REPORT_WEBHOOK_URL=
DISCORD_BUG_REPORT_WEBHOOK_URL=
DISCORD_FEATURE_SUGGESTIONS_WEBHOOK_URL=